#redpill {
    box-sizing: border-box;
    height: 20px;
    width: 80px;
    text-align: center;
    background-color: red;
    border: 2px red;
    border-radius: 20px;
    display: block;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#redpill:hover {
    opacity: 1;
}

#bluepill {
    box-sizing: border-box;
    height: 20px;
    width: 80px;
    text-align: center;
    background-color: blue;
    border: 2px blue;
    border-radius: 20px;
    display: block;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
}

#bluepill:hover {
    opacity: 1;
}

a {
    color: black;
    text-decoration: none;
}

body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#mainbody {

    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
    background-image: url('../Resources/images/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#red {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: white;
    background-color: black;
}

#blue{
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: black;
    background-color: black;    
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

