body{
    max-width: 1170px;
    background-color: azure;
    margin:0 auto;
}
.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border:2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(255, 197, 145, 0.549);

}
.card:hover{
    background-color: lightgoldenrodyellow;
}
.card img{
    width: 100%;
    border-radius: 100%;
}
.card h3{
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}
.card p{
    text-align:justify;
    padding: 10px;
}
.card button{
    background-color: sandybrown;
    margin: 10px;
    padding: 5px 15px;
    font-size: 1em;
    border-radius: 25px;
    opacity: 0.5;
    cursor: pointer;
    align-self: flex-start;
}
.card button:hover{
    opacity: 1;
    background-color: rgb(247, 115, 0);

}